* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.continer {
    width: 82%;
    max-width: 1320px;
    margin: 50px auto 140px;
}
/* Banner related style start  */
.banner {
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Banner\ Image.png');
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-continer-text {
    text-align: center;
}
.header-continer-text h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.header-continer-text h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
}
/* End */
/* Discount related Design start */
.discount {
    width: 650px;
    margin: 0 auto;
}
.discount-text {
    text-align: center;
}
.discount-text h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.discount-text p {
    color: #F00;
    margin-top: 42px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}
.discount-text h3 {
    color: #070211;
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
}
.discount-image img {
    width: 680px;
    height: 450px;
    display: flex;
    justify-content: center;
}
/* End */
/* party related style start*/
.midnight-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Vectorrr.png');
    margin-top: 120px;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midnight-party-text {
    margin: 120px 0 120px 120px;
}
.midnight-party-text h1 {
    width: 640px;
    color: #FFF;
    font-size: 55px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 7px;
}
.midnight-party-text p {
    width: 680px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.midnight-party-text button {
    width: 105px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #070211;
    margin-left: 15px;
}
.midnight-party img {
    width: 320px;
    height: 460px;
    margin: 50px 0;
    margin-right: 130px;
}
/* end */
/* park hotel section start */
.park {
    height: 480px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.park-hotel {
    width: 580px;
}
.park-hotel h4 {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.park-hotel-span {
    color: #F00;
}
.park-hotel button {
    color: #FFF;
    background-color: #FF0000;
    width: 160px;
    height: 55px;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    margin-left: 218px;
    font-size: 18px;
    padding: 2px 25px;
}
/* end */
/* Best offer related design start */
.offer {
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-text {
    width: 395px;
}
.best-offer-text h4 {
    color: #F00;
    width: 210px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
}
.best-offer-text h2 {
    width: 270px;
    height: 60px;
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.best-offer-text p {
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.best-offer-image {
    width: 435px;
    height: 435px;
    border: 15px solid #F00;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.best-offer-image img {
    width: 360px;
    height: 360px;
}
.best-offer-year {
    width: 275px;
}
.best-offer-year h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.best-offer-year p {
    width: 270px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.best-offer-year img {
    width: 140px;
    height: 140px;
    margin-top: 45px;
}
/* end */
/* holiday related style */
.holidays {
    width: 1320px;
    height: 960px;
}
.holidays-text h4 {
    color: #070211;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.holidays-text h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 28px;
}
.holidays-text h1 span {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}
.holidays-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}
.holidays-image {
    position: relative;
}
.holidays-image .fifty-percent {
    width: 429px;
    height: 433px;
    background-image: url('/resources/Rectangle\ 1.png');
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    right: 0;
}
.holidays-image .fifty-percent img {
    width: 206px;
    height: 206px;
    position: absolute;
    top: 135px;
    right: 330px;
}
.holidays-image .gift-box {
    width: 1320px;
    height: 229px;
    background-image: url('/resources/Rectangle\ 2.png');
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: absolute;
    top: 433px;
}
.holidays-image .gift-box img {
    width: 340px;
    height: 340px;
    position: absolute;
    left: 170px;
    bottom: 80px;
}
/* end */
/* portfolio section style */
.portfolio {
    width: 82%;
    height: 1300px;
}
.portfolio .portfolio-text {
    width: 900px;
}
.portfolio .portfolio-text h4 {
    color: #F00;
    width: 210px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 14px;
}
.portfolio .portfolio-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.portfolio .portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}
.portfolio .portfolio-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.portfolio .portfolio-image img {
    width: 410px;
    height: 550px;
    margin-right: 20px;
}
/* end */
/* subscribe related style */
.subscribes {
    height: 620px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribes img {
    width: 150px;
    height: 150px;
    margin: 80px 580px 40px;
}
.subscribes h2 {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 0px 404px 22px 404px;
}
.subscribes p {
    width: 890px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0px 212px 48px 212px;
}
.subscribes .button-style {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
}
.subscribes .button-style input {
    width: 440px;
    height: 72px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.subscribes .button-style button {
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
/* foooter section */
footer {
    width: 100%;
    height: 609px;
    color: white;
    background-color: #070211;
}
.website-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-section .website-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 140px;
    margin-left: 120px;
}
.website-section .website-number pre {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-right: 290px;
}
.website-section .website-number p{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.website-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.website-icon img{
    width: 60px;
    height: 60px;
    margin: 48px 24px;
}
.website-lastSection{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#p1{
    margin-left: 120px;
}
#p2{
    margin-right: 120px;
}